h1 {
    font-family: 'Hi Melody', cursive;
    text-align: center;
    text-underline-position: below;
    font-size: 50px;
    color: rgba(185, 192, 188, 0.712);
}

h4 {
    font-family: 'Hi Melody', cursive;
    text-align: center;
    font-size: 35px;
    color: rgba(185, 192, 188, 0.712);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(68, 67, 67);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* registering */
div.form-group {
    position: relative;
  }
  label {
    display: block;
  }
  input {
    display: block;
  }
  div.alert{
      display: none;
      margin-top: 10px;
      padding: 10px;
  }
  p.help-block{
    padding: 2px;
  }